/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*  To embed your own fonts, use this syntax
    and place your fonts inside the
    library/fonts folder. For more information
    on embedding fonts, go to:
    http://www.fontsquirrel.com/
    Be sure to remove the comment brackets.
*/
/*  @font-face {
        font-family: 'Font Name';
        src: url('../fonts/font-name.eot');
        src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
        font-weight: normal;
        font-style: normal;
    }
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/*
NOTE: For older browser support (and some mobile),
don't use the shorthand to define *different* corners.

USAGE: .border-radius(4px);

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #d24234;
  border-top-color: #d75a4d;
  border-left-color: #d75a4d;
  padding: 4px 12px;
  color: #fff8d9;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #d96155;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#de756a), to(#d96155));
  background-image: -webkit-linear-gradient(top, #de756a, #d96155);
  background-image: -moz-linear-gradient(top, #de756a, #d96155);
  background-image: -o-linear-gradient(top, #de756a, #d96155);
  background-image: linear-gradient(to bottom, #de756a, #d96155);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #fff8d9;
  border: 1px solid #d24234;
  border-top-color: #b93629;
  border-left-color: #b93629;
  background-color: #d44e41;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d96155), to(#d44e41));
  background-image: -webkit-linear-gradient(top, #d96155, #d44e41);
  background-image: -moz-linear-gradient(top, #d96155, #d44e41);
  background-image: -o-linear-gradient(top, #d96155, #d44e41);
  background-image: linear-gradient(to bottom, #d96155, #d44e41);
}
.button:active,
.button:visited:active {
  background-color: #de756a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d96155), to(#de756a));
  background-image: -webkit-linear-gradient(top, #d96155, #de756a);
  background-image: -moz-linear-gradient(top, #d96155, #de756a);
  background-image: -o-linear-gradient(top, #d96155, #de756a);
  background-image: linear-gradient(to bottom, #d96155, #de756a);
}
.blue-button,
.blue-button:visited {
  border-color: #2e5073;
  text-shadow: 0 1px 1px #2e5073;
  background-color: #355d86;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c6a98), to(#355d86));
  background-image: -webkit-linear-gradient(top, #3c6a98, #355d86);
  background-image: -moz-linear-gradient(top, #3c6a98, #355d86);
  background-image: -o-linear-gradient(top, #3c6a98, #355d86);
  background-image: linear-gradient(to bottom, #3c6a98, #355d86);
  -webkit-box-shadow: inset 0 0 3px #6493c2;
  -moz-box-shadow: inset 0 0 3px #6493c2;
  box-shadow: inset 0 0 3px #6493c2;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #264461;
  background-color: #2e5073;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#366089), to(#2e5073));
  background-image: -webkit-linear-gradient(top, #366089, #2e5073);
  background-image: -moz-linear-gradient(top, #366089, #2e5073);
  background-image: -o-linear-gradient(top, #366089, #2e5073);
  background-image: linear-gradient(to bottom, #366089, #2e5073);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #3c6a98;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#355d86), to(#3c6a98));
  background-image: -webkit-linear-gradient(top, #355d86, #3c6a98);
  background-image: -moz-linear-gradient(top, #355d86, #3c6a98);
  background-image: -o-linear-gradient(top, #355d86, #3c6a98);
  background-image: linear-gradient(to bottom, #355d86, #3c6a98);
}
.tagline {
  padding: 0 1rem;
  position: absolute;
  display: block;
  font-size: 1.4rem;
  text-align: right;
  top: 67px;
  vertical-align: bottom;
}
h1.logo {
  position: absolute;
}
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */
}
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.menu ul li {
  /*
                        plan your menus and drop-downs wisely.
                        */
}
.menu ul li a {
  color: #120504;
  background-color: rgba(0, 0, 0, 0.225);
  /*
                    you can use hover styles here even though this size
                    has the possibility of being a mobile device.
                    */
}
.menu ul li a:hover,
.menu ul li a:focus {
  color: #ce3c2e;
  background-color: rgba(255, 255, 255, 0.225);
}
/* end .menu */
/*********************
                                                POSTS & CONTENT STYLES
                                                *********************/
/* at this larger size, we can start to align images */
.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/*********************
                                                FOOTER STYLES
                                                *********************/
/*
                                                check your menus here. do they look good?
                                                do they need tweaking?
                                                */
/* end .footer-links */
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

Both old and new Bones grid systems included here.

******************************************************************/
.last-col {
  float: right;
  padding-right: 0 !important;
}
.half {
  width: 49%;
  padding-right: .75em;
}
/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/
@media (max-width: 767px) {
  .m-all {
    float: left;
    padding-right: .75em;
    width: 100%;
    padding-right: 0;
  }
  .m-1of2 {
    float: left;
    padding-right: .75em;
    width: 50%;
  }
  .m-1of3 {
    float: left;
    padding-right: .75em;
    width: 33.33%;
  }
  .m-2of3 {
    float: left;
    padding-right: .75em;
    width: 66.66%;
  }
  .m-1of4 {
    float: left;
    padding-right: .75em;
    width: 25%;
  }
  .m-3of4 {
    float: left;
    padding-right: .75em;
    width: 75%;
  }
  .m-1of5 {
    float: left;
    padding-right: .75em;
    width: 20%;
  }
  .m-2of5 {
    float: left;
    padding-right: .75em;
    width: 40%;
  }
  .m-3of5 {
    float: left;
    padding-right: .75em;
    width: 60%;
  }
  .m-4of5 {
    float: left;
    padding-right: .75em;
    width: 80%;
  }
}
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    float: left;
    padding-right: .75em;
    width: 100%;
    padding-right: 0;
  }
  .t-1of2 {
    float: left;
    padding-right: .75em;
    width: 50%;
  }
  .t-1of3 {
    float: left;
    padding-right: .75em;
    width: 33.33%;
  }
  .t-2of3 {
    float: left;
    padding-right: .75em;
    width: 66.66%;
  }
  .t-1of4 {
    float: left;
    padding-right: .75em;
    width: 25%;
  }
  .t-3of4 {
    float: left;
    padding-right: .75em;
    width: 75%;
  }
  .t-1of5 {
    float: left;
    padding-right: .75em;
    width: 20%;
  }
  .t-2of5 {
    float: left;
    padding-right: .75em;
    width: 40%;
  }
  .t-3of5 {
    float: left;
    padding-right: .75em;
    width: 60%;
  }
  .t-4of5 {
    float: left;
    padding-right: .75em;
    width: 80%;
  }
}
/* Landscape to small desktop */
@media (min-width: 1030px) {
  .d-all {
    float: left;
    padding-right: .75em;
    width: 100%;
    padding-right: 0;
  }
  .d-1of2 {
    float: left;
    padding-right: .75em;
    width: 50%;
  }
  .d-1of3 {
    float: left;
    padding-right: .75em;
    width: 33.33%;
  }
  .d-2of3 {
    float: left;
    padding-right: .75em;
    width: 66.66%;
  }
  .d-1of4 {
    float: left;
    padding-right: .75em;
    width: 25%;
  }
  .d-3of4 {
    float: left;
    padding-right: .75em;
    width: 75%;
  }
  .d-1of5 {
    float: left;
    padding-right: .75em;
    width: 20%;
  }
  .d-2of5 {
    float: left;
    padding-right: .75em;
    width: 40%;
  }
  .d-3of5 {
    float: left;
    padding-right: .75em;
    width: 60%;
  }
  .d-4of5 {
    float: left;
    padding-right: .75em;
    width: 80%;
  }
  .d-1of6 {
    float: left;
    padding-right: .75em;
    width: 16.6666666667%;
  }
  .d-1of7 {
    float: left;
    padding-right: .75em;
    width: 14.2857142857%;
  }
  .d-2of7 {
    float: left;
    padding-right: .75em;
    width: 28.5714286%;
  }
  .d-3of7 {
    float: left;
    padding-right: .75em;
    width: 42.8571429%;
  }
  .d-4of7 {
    float: left;
    padding-right: .75em;
    width: 57.1428572%;
  }
  .d-5of7 {
    float: left;
    padding-right: .75em;
    width: 71.4285715%;
  }
  .d-6of7 {
    float: left;
    padding-right: .75em;
    width: 85.7142857%;
  }
  .d-1of8 {
    float: left;
    padding-right: .75em;
    width: 12.5%;
  }
  .d-1of9 {
    float: left;
    padding-right: .75em;
    width: 11.1111111111%;
  }
  .d-1of10 {
    float: left;
    padding-right: .75em;
    width: 10%;
  }
  .d-1of11 {
    float: left;
    padding-right: .75em;
    width: 9.09090909091%;
  }
  .d-1of12 {
    float: left;
    padding-right: .75em;
    width: 8.33%;
  }
}
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.site-id {
  width: 100%;
  position: relative;
  height: 114px;
  margin-top: 0;
}
h1.logo {
  margin-top: 0;
}
h1.logo span {
  width: 380px;
  height: 95px;
}
h1.logo b {
  display: none;
  height: 140px;
  width: 534px;
  font-size: 3.9rem;
}
.tagline {
  display: inline;
  position: absolute;
  right: 2rem;
  top: 44px;
  font-size: 2.2rem;
}
.wrap {
  width: 758px;
}
/*********************
	HEADER STYLES
	*********************/
#sitelogo {
  height: 160px;
  display: inline-block;
  position: relative;
}
/*********************
	NAVIGATION STYLES
	*********************/
#container .bne-testimonial-slider.bne-flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  min-height: 250px;
}
.header {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.header .nav {
  background: transparent;
  border: 0;
  margin: 0 1rem;
}
.header .nav li {
  float: left;
  position: relative;
  /*
				plan your menus and drop-downs wisely.
				*/
  /* highlight sub-menu current page */
  /* showing sub-menus */
}
.header .nav li a {
  color: #120504;
}
.header .nav li a:hover,
.header .nav li a:focus {
  color: #ce3c2e;
  background-color: rgba(255, 255, 255, 0.6);
}
.header .nav li ul.sub-menu,
.header .nav li ul.children {
  margin-top: 0;
  border: 1px solid #fff8d9;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
}
.header .nav li ul.sub-menu li a,
.header .nav li ul.children li a {
  padding-left: 10px;
  font-size: 1.3rem;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #fff8d9;
}
.header .nav li ul.sub-menu li a:link,
.header .nav li ul.children li a:link,
.header .nav li ul.sub-menu li a:visited,
.header .nav li ul.children li a:visited {
  background-color: rgba(255, 255, 255, 0.6);
  color: #8f2a20;
}
.header .nav li ul.sub-menu li a:hover,
.header .nav li ul.children li a:hover,
.header .nav li ul.sub-menu li a:focus,
.header .nav li ul.children li a:focus,
.header .nav li ul.sub-menu li a:active,
.header .nav li ul.children li a:active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #ce3c2e;
}
.header .nav li ul.sub-menu li:first-child,
.header .nav li ul.children li:first-child {
  margin-left: 0rem;
}
.header .nav li ul.sub-menu li:last-child a,
.header .nav li ul.children li:last-child a {
  border-bottom: 0;
}
.header .nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
/*********************
	SIDEBARS & ASIDES
	*********************/
.widget {
  padding: 0 10px;
  margin: 1.2em 0;
}
.widget ul li {
  margin-bottom: .75em;
  /* deep nesting */
}
.widget ul li ul {
  margin-top: .75em;
  padding-left: 1em;
}
/*********************
	FOOTER STYLES
	*********************/
/*
	you'll probably need to do quite a bit
	of overriding here if you styled them for
	mobile. Make sure to double check these!
	*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1024px;
}
/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
