/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
.wrap {
	width: 99%;
	max-width: 1680px; //make sure we don't get TOO wide on big displays
}

.nav li a {
	font-size: 1.6em;
}

h1.logo {
	width: 572px;
	height: 130px;
	display: inline-block;
	position: relative;
	font-size: 5.35rem;

	span {
		width: 500px;
		height: 130px;
	}
}

.tagline {
	position: absolute;
	display: inline;
	font-size: 3.5rem;
	top: 56px;
}

.site-id {
	height: 166px; //gets a bit taller to accomodate the bigger logo
}
