/*********************
GENERAL STYLES
*********************/
body {
	background: url(../images/bg2.jpg) left top scroll repeat-y;
	background-size: contain;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.site-id {
	width: 100%;
	position: relative;
	padding: 1rem 0 1rem 0;
}

h1.logo b{
	height: 140px;
	width: 279px;
font-size: 3.9rem; //h1 size = logo size
// margin-left: 1rem; //align image/text with container/menu
}

.tagline {
	display: inline;
	position: absolute;
	font-size: 2.7rem;
	right: 2rem;
	top: 75px;
}

.wrap {
	width: 758px;
}

/*********************
HEADER STYLES
*********************/

#sitelogo {
	height: 160px;
	display: inline-block;
	position: relative;
}

.tagline {
	// position: relative;
	// display: inline-block;
	// font-size: 1.8rem;
	// margin: 20px 0px 10px;
	// top: -18px;
}

/*********************
NAVIGATION STYLES
*********************/
.header {
	.nav {
		background: transparent;
		border: 0;
		margin: 0 1rem;

		li {
			float: left;
			position: relative;

			a {
				color: @white;

				&:hover, &:focus {
					color: @goldenrod;
					background-color: darken(@red, 15%);
				}
			}
			&:first-child {
			}
			&:last-child {
			}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu, ul.children {
				margin-top: 0;
				border: 1px solid #ccc;
				border-top: 0;
				position: absolute;
				display: none;
				z-index: 8999;

				li {
					a {
						padding-left: 10px;
						font-size: 1.3rem;
						border-right: 0;
						display: block;
						width: 180px;
						border-bottom: 1px solid @white;

						&:link, &:visited {
							background-color: @goldenrod;
							color: darken(@red-dk, 15%);
						}
						&:hover, &:focus, &:active {
							background-color: @red;
							color: @goldenrod;
						}
					}
					&:first-child {
						margin-left: 0rem;
					}
					&:last-child {
						a {
							border-bottom: 0;
						}
					}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item, li.current_page_item, li.current-page-ancestor {
				a {
				}
			}
			/* showing sub-menus */
			&:hover ul {
				top: auto;
				display: block;
			}
		}


	}

	/* end .menu ul li */

	/* highlight current page */
	li.current-menu-item, li.current_page_item, li.current-page-ancestor {
		a {
		}
}

/* end current highlighters */
}

/* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	// margin-top: 1em;
}

.widgettitle {
	// border-bottom: 2px solid #444;
	// margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 1.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			&:first-child {
			}
			&:last-child {
			}
			a {
			}

			/* deep nesting */
			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}



/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {
				}
			}
			ul {
			}
		}
	}
}

/* end .footer-links */
