/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
	max-width: 1480px; //make sure we don't get TOO wide on big displays
	width: 99%;
}

.nav li a {
	font-size: 1.6em;
}

h1.logo {
	display: inline-block;
	font-size: 5.35rem;
	height: 150px;
	position: relative;
	width: 299px;
}

.tagline {
	display: inline;
	font-size: 3.4rem;
	position: absolute;
	right: 2rem;
	top: 85px;
}
